.header {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  align-items: center;
  padding: 20px;
}

.header img {
  height: 200px;
  border-radius: 4px;
  margin-top: 20px;
}

h3 {
  color: grey;
  font-weight: 100;
}
.Menu {
  background-color: white;
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 5px;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.Menu img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.main {
  background-color: lightgrey;
}

.category {
  display: flex;
  flex-wrap: wrap;
}

.descrip {
  margin: 5px;
  font-size: 13px;

  justify-content: space-around;
  flex-direction: column;

  width: 700px;
}

p {
  overflow: scroll;
  height: 40px;
  color: gray;
}

h2 {
  font-weight: 100;
  font-size: 15px;
}
